@font-face {
    font-family: stark;
    src: url(Fonts/Stark.otf);
}
@font-face {
    font-family: magra;
    src: url(Fonts/Magra.ttf);
}

body {
    background-color:#32CD32;
    font-family:stark;
}
a {
    text-decoration:none;
    color:inherit;
}
#header {
    margin-top:-3.8em;
    margin-left:-.55em;
    height:48px;
    width:100.09%;
    position:absolute;
    background-color:black;
}
#subHeader {
    width:63em;
    height:48px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    overflow:hidden;
}
#logo {
    margin-top:.03em;
    width:70%;
    cursor:pointer;
}
.headerLeft {
    margin-top:0em;
    float: left;
    width:300px;
    height:48px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:black;
    position:relative;
    font-family:art;
    cursor:pointer;
    font-size:36px;
    z-index:1;
}
.headerRight {
    margin-top:0em;
    width:auto;
    height:3em;
    float: left;
    margin-left:2%;
    background-color:black;
}
.clicky {
    text-align:center;
    margin-top:.3em;
    font-size:25px;
    background-color:black;
    border:none;
    color:white;
    font-family:magra;
    cursor:pointer;
    margin-left:90px;
    margin-right:20px;
}
.clicky:hover {
    opacity:.9;
}
#bubble {
    background-color:white;
    height:auto;
    width:62em;
    margin-top:3.75em;
    position:static;
    margin-left:auto;
    margin-right:auto;
    bottom:1em;
}
#gallery{
    margin-top:.75em;
}
.galleryImages {
    width:70%;
    height:70%;
    margin-left:9.3em;
}
iframe{
    width: 40em;
    height: 25em;
    margin-left:11em;
}
.title{
    margin-left:.3em;
}
.text{
    margin-left:.9em;
}

#asdf{
    height:50em;
}

#socialMedia {
    margin-left:auto;
    margin-right:auto;
    width:16em;
}
.socialButtons {
    width:2em;
    height:2em;
    margin-left:.5em;
    margin-right:.5em;
}
.socialButtons:hover {
    transform:scale(1.2);
}
.footer {
    text-align:center;
}
.subFoot {
    color:gray;
    font-size:.7em;
    display: inline-block;
    margin-left:.5em;
    margin-right:.5em;
}
.subFoot:hover {
    color:black;
    cursor:pointer;
}
#copyright {
    margin-bottom:.5em;
}
#bottomSpace{
    height:.1em;
}